REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=CHANGE_ME
RABBITMQ_PASSWORD=CHANGE_ME
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=notifications
RABBITMQ_EXCHANGE=notifications_exchange
RABBITMQ_ROUTING_KEY=notification.created
